<template>
  <main>
    <div class="container">
      <!-- @include('partial.errores') -->
      <div class="card mt-2" style="background-color: #EADAB6;">
        <div class="card-body">
          <button
            class="btn btn-primary"
            style="background-color: #4EC5FF;"
            @click="abrirModal('insert')"
          >AFEGIR ALERTANT</button>
        </div>
      </div>

      <div class="card mt-2" style="background-color: #EADAB6;">
        <div class="card-header text-white" style="background-color: #79A6EA;">Llista alertants</div>

        <table class="table">
          <thead>
            <tr>
              <th>NOM</th>
              <th>ADREÇA</th>
              <th>MUNICIPI</th>
              <th>TELÈFON</th>
              <th>TIPUS ALERTANT</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody v-for="alertant in alertants" :key="alertant.id">
            <tr>
              <td v-text="alertant.nom"></td>
              <td v-text="alertant.adreca"></td>
              <td v-text="alertant.municipi.nom"></td>
              <td v-text="alertant.telefon"></td>
              <td v-text="alertant.tipoAlertant.tipus"></td>
              <td>
                <button
                  class="btn btn-primary btn-sm"
                  @click="abrirModal('update', alertant)"
                >Editar</button>
              </td>
              <td>
                <button
                  class="btn btn-danger btn-sm"
                  @click="abrirModal('delete', alertant)"
                >Esborrar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- {{ $alertants->appends(['search'=>$search])->links() }} -->
      </div>
    </div>
    <!-- Modal insert i update -->
    <div
      class="modal fade"
      tabindex="-1"
      :class="{'mostrar':modal}"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-white" style="background-color: #79A6EA">
            <h5 class="modal-title" v-text="tituloModal"></h5>
            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="background-color: #EADAB6;">
            <form action method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <label for="text-input" class="col-md-3 form-control-label">Nom</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    ref="nom"
                    v-model="alertant.nom"
                    class="form-control"
                    placeholder="Nom de l'alertant"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="text-input" class="col-md-3 form-control-label">Cognoms</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    ref="cognoms"
                    v-model="alertant.cognoms"
                    class="form-control"
                    placeholder="Cognoms de l'alertant"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="text-input" class="col-md-3 form-control-label">Adreça</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    ref="adreca"
                    v-model="alertant.adreca"
                    class="form-control"
                    placeholder="Adreça de l'alertant"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="text-input" class="col-md-3 form-control-label">Municipis</label>
                <div class="col-md-9">
                  <!-- <input type="text" ref="municipis_id" v-model="alertant.municipis_id" class="form-control" placeholder="Municipi de l'alertant"> -->
                  <select ref="municipis_id" class="custom-select" v-model="alertant.municipis_id">
                    <option
                      v-for="municipi in municipis"
                      :key="municipi.id"
                      v-bind:value="municipi.id"
                    >{{municipi.nom}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="text-input" class="col-md-3 form-control-label">Telèfon</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    ref="telefon"
                    v-model="alertant.telefon"
                    class="form-control"
                    placeholder="Telèfon de l'alertant"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="text-input" class="col-md-3 form-control-label">Tipus Alertant</label>
                <div class="col-md-9">
                  <!-- <input type="text" ref="tipus_alertant_id" v-model="alertant.tipus_alertant_id" class="form-control" placeholder="Tipus Alertant"> -->
                  <select
                    ref="tipus_alertant_id"
                    class="custom-select"
                    v-model="alertant.tipus_alertant_id"
                  >
                    <option
                      v-for="tipoAlertant in tipoAlertants"
                      :key="tipoAlertant.id"
                      v-bind:value="tipoAlertant.id"
                    >{{tipoAlertant.tipus}}</option>
                  </select>
                </div>
              </div>
              <div v-show="erroralertant" class="form-group row">
                <div class="offset-3 col-md-9">
                  <p class="text-danger" v-for="error in mensajesError" :key="error" v-text="error"></p>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer" style="background-color: #EADAB6;">
            <button
              type="button"
              class="btn btn-secondary"
              @click="cerrarModal()"
              data-dismiss="modal"
            >Close</button>
            <button
              type="button"
              v-if="tipusAccio==1"
              class="btn btn-primary"
              @click="insertAlertant()"
            >Guardar</button>
            <button
              type="button"
              v-if="tipusAccio==2"
              class="btn btn-primary"
              @click="updateAlertant()"
            >Actualitzar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal borrar -->
    <div
      class="modal fade"
      tabindex="-1"
      :class="{'mostrar':modal_esborrar}"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-white" style="background-color: #8C031C">
            <h5 class="modal-title" v-text="tituloModal"></h5>
            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="background-color: #EADAB6;">
            <p>Segur que vols eliminar l'Alertant: {{ alertant.nom }}{{ alertant.cognoms }}?</p>
            <div v-show="erroralertant" class="form-group row">
              <div class="offset-3 col-md-9">
                <p class="text-danger" v-for="error in mensajesError" :key="error" v-text="error"></p>
              </div>
            </div>
          </div>
          <div class="modal-footer" style="background-color: #EADAB6;">
            <button
              type="button"
              class="btn btn-secondary"
              @click="cerrarModal('delete')"
              data-dismiss="modal"
            >Close</button>
            <button type="button" class="btn btn-danger" @click="deleteAlertant()">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      municipis: null,
      municipi: {
        id: null,
        nom: "",
        comarques_id: null
      },
      tipoAlertants: null,
      tipoAlertant: {
        id: null,
        tipus: ""
      },
      alertants: null,
      alertant: {
        id: null,
        nom: "",
        cognoms: "",
        adreca: "",
        municipis_id: null,
        telefon: "",
        tipus_alertant_id: null,
        municipi: {
          id: null,
          nom: "",
          comarques_id: null
        },
        tipoAlertant: {
          id: null,
          tipus: ""
        }
      },
      modal: 0,
      modal_esborrar: 0,
      tituloModal: "",
      tipusAccio: 0,
      erroralertant: false,
      mensajesError: []
    };
  },
  created() {
    this.mostrarAlertant();
    this.mostrarMunicipis();
    this.mostrarTipoAlertant();
  },
  methods: {
    mostrarTipoAlertant() {
      let me = this;
      axios
        .get("/tipo_alertant")
        .then(function(response) {
          me.tipoAlertants = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarMunicipis() {
      let me = this;
      axios
        .get("/municipis")
        .then(function(response) {
          me.municipis = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarAlertant() {
      let me = this;
      axios
        .get("/alertant")
        .then(function(response) {
          me.alertants = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    abrirModal(accion, data = []) {
      switch (accion) {
        case "insert": {
          this.modal = 1;
          this.tituloModal = "Inserir alertant";
          this.tipusAccio = 1;

          break;
        }
        case "update": {
          this.modal = 1;
          this.tituloModal = "Modificar alertant";
          this.tipusAccio = 2;
          this.alertant.id = data["id"];
          this.alertant.nom = data["nom"];
          this.alertant.cognoms = data["cognoms"];
          this.alertant.adreca = data["adreca"];
          this.alertant.municipis_id = data["municipis_id"];
          this.alertant.telefon = data["telefon"];
          this.alertant.tipus_alertant_id = data["tipus_alertant_id"];

          break;
        }
        case "delete": {
          this.modal_esborrar = 1;
          this.tituloModal = "Esborrar alertant";
          this.alertant.id = data["id"];
          this.alertant.nom = data["nom"];
          this.alertant.cognoms = data["cognoms"];
          this.alertant.adreca = data["adreca"];
          this.alertant.municipis_id = data["municipis_id"];
          this.alertant.telefon = data["telefon"];
          this.alertant.tipus_alertant_id = data["tipus_alertant_id"];

          break;
        }
      }
    },
    cerrarModal(accion = "") {
      switch (accion) {
        case "delete": {
          this.modal_esborrar = 0;
          this.tituloModal = "";
          this.alertant.id = null;
          this.alertant.nom = "";
          this.alertant.cognoms = "";
          this.alertant.adreca = "";
          this.alertant.municipis_id = null;
          this.alertant.telefon = "";
          this.alertant.tipus_alertant_id = null;

          break;
        }
        default: {
          this.modal = 0;
          this.tituloModal = "";
          this.alertant.id = null;
          this.alertant.nom = "";
          this.alertant.cognoms = "";
          this.alertant.adreca = "";
          this.alertant.municipis_id = null;
          this.alertant.telefon = "";
          this.alertant.tipus_alertant_id = null;

          break;
        }
      }
    },
    insertAlertant() {
      let me = this;
      axios
        .post("/alertant", this.alertant)
        .then(function(response) {
          me.cerrarModal();
          me.mostrarAlertant();
        })
        .catch(function(error) {
          me.missatge = error.response.data;
          me.erroralertant = true;
          me.mensajesError.push(me.missatge.error);
        });
    },
    updateAlertant() {
      let me = this;
      axios
        .put("/alertant/" + this.alertant.id, this.alertant)
        .then(function(response) {
          me.cerrarModal();
          me.mostrarAlertant();
        })
        .catch(function(error) {
          me.missatge = error.response.data;
          me.erroralertant = true;
          me.mensajesError.push(me.missatge.error);
        });
    },
    deleteAlertant() {
      let me = this;
      axios
        .delete("/alertant/" + this.alertant.id)
        .then(function(response) {
          me.cerrarModal("delete");
          me.mostrarAlertant();
        })
        .catch(function(error) {
          me.missatge = error.response.data;
          me.erroralertant = true;
          me.mensajesError.push(me.missatge.error);
        });
    }
  },
  mounted() {
    console.log("Component mounted.");
  }
};
</script>
<style>
.modal-title {
  font-variant: small-caps;
}
.modal-content {
  width: 100% !important;
  position: absolute !important;
  top: 200px !important;
}
.mostrar {
  display: list-item !important;
  opacity: 1 !important;
  position: absolute !important;
  background-color: #3c29297a !important;
}
body.modal {
  overflow-y: hidden;
}
</style>
