<template>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h3>Nova emergència.</h3>
          <form action="./api/" method="POST">
            <div class="form-group">
              <label for="txtDireccio">Direcció</label>
              <input type="text" class="form-control" id="txtDireccio" v-model="incident.direccio" />
            </div>

            <div class="form-group">
              <label for="txtTelefon">Telèfon</label>
              <input type="text" class="form-control" id="txtTelefon" v-model="incident.telefon" />
            </div>

            <div class="form-group">
              <label for="txtNomAlertant">Nom alertant</label>
              <input
                type="text"
                class="form-control"
                id="txtNomAlertant"
                v-model="incident.nomAlertant"
              />
            </div>

            <div class="form-group">
              <select v-model="incident.tipusAlertant">
                <option
                  v-for="tipusAlertant in tipusAlertants"
                  :key="tipusAlertant.id"
                >{{ tipusAlertant.tipus }}</option>
              </select>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="afegirRecurs"
                @click="necessitaRecursC++"
              />
              <label class="form-check-label" for="afegirRecurs">Afegir recurs</label>
            </div>

            <section v-if="necessitaRecursC %2">
              <p @click="numRecursos++">Afegir recurs</p>
              <div v-for="n in numRecursos" :key="n">
                <div style="display: inline;">
                  <select
                    v-model="incident.tipusAlertant"
                    style="margin-top: 5px; margin-bottom: 5px;"
                  >
                    <option
                      v-for="tipusRecurs in tipusRecursos"
                      :key="tipusRecurs.tipus_alertant_id"
                    >{{ tipusRecurs.tipus }}</option>
                  </select>
                </div>

                <!--Aquí hauria de ser un select per agafar tots els recursos que hi ha dins de cada tipus de recurs, falta el mètode per fer-ho 
                           <select v-model="incident.tipusAlertant">
                            <option v-for="tipusRecurs in tipusRecursos" :key="tipusRecurs.tipus">{{ tipusRecurs }}</option>
                </select>-->
              </div>
            </section>

            <section v-if="incident.tipus_alertant_id == 4">
              Això només es veu si el client es vip

            </section>

            <section v-else></section>
            <div class="form-group">
              <select v-model="incident.recursos">
                <option
                  v-for="tipusRecurs in tipusRecursos"
                  :key="tipusRecurs.tipus_alertant_id"
                >{{ tipusRecurs.tipus }}</option>
              </select>

              <!--Aquí hauria de ser un select per agafar tots els recursos que hi ha dins de cada tipus de recurs, falta el mètode per fer-ho 
                           <select v-model="incident.tipusAlertant">
                            <option v-for="tipusRecurs in tipusRecursos" :key="tipusRecurs.tipus">{{ tipusRecurs }}</option>
              </select>-->
            </div>

            <div class="form-group">
              <label for="txtDetalls">Detalls</label>
              <input type="text" class="form-control" id="txtDetalls" v-model="incident.descripcio" />
            </div>

            <button
              type="button"
              @click="currentTime = formatData(new Date)"
              class="btn btn-primary"
            >Current date</button>
            <button type="submit" class="btn btn-primary" @click="guardarIncidencia()">Submit</button>
          </form>

          <a
            id="modal-534929"
            href="#modal-container-534929"
            role="button"
            class="btn"
            data-toggle="modal"
          >Launch demo modal</a>

          <div
            class="modal fade"
            id="modal-container-534929"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">...</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  data() {
    return {
      necessitaRecursC: 0,
      tipusAlertants: null,
      esVip: false,
      currentTime: null,
      numRecursos: 0,
      tipusRecursos: null,
      incident: {
        id_incidencia: null,
        num_incidencia: null,
        telefon_alertant: null,
        date: null,
        hora: null,
        adreca: null,
        complement_adreca: null,
        descripcio: null,
        municipis_id: null,
        tipus_incident_id: null,
        estats_incidencia_id: null,
        tipus_alertant_id: null,
        alertants_id: null,
        recursos: null,
        tipusAlertant: null
      }
    };
  },

  created() {
    this.omplirAlertants();
    this.omplirRecursos();
  },

  methods: {
    omplirAlertants() {
      let me = this;

      axios
        .get("/tipo_alertant")
        .then(function(response) {
          me.tipusAlertants = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    omplirRecursos() {
      let me2 = this;

      axios
        .get("/tipo_recurs")
        .then(function(response) {
          me2.tipusRecursos = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    guardarIncidencia() {
      axios
        .post("/incidencies", {
          id_incidencia: null,
          num_incidencia: this.incident.num_incidencia,
          telefon_alertant: this.incident.telefon_alertant,
          date: this.incident.date,
          hora: this.incident.hora,
          adreca: this.incident.adreca,
          complement_adreca: this.incident.complement_adreca,
          descripcio: this.incident.descripcio,
          municipis_id: this.incident.municipis_id,
          tipus_incident_id: this.incident.tipus_incident_id,
          estats_incidencia_id: this.incident.estats_incidencia_id,
          tipus_alertant_id: this.incident.tipus_alertant_id,
          alertants_id: this.incident.alertants_id,
          afectats: this.incident.afectats,
          recursos: this.incident.recursos
        })
        .then(savedRole => {
          this.getRoles();
          this.role_name = "";
          this.role_id = "";
        });
    },

    formatData(date2) {
      var d = date2.getDate();
      var m = date2.getMonth() + 1;
      var y = date2.getFullYear();

      var dateActual =
        "" + y + "-" + (m <= 9 ? "0" + m : m) + "-" + (d <= 9 ? "0" + d : d);
      return dateActual;
    }
    /*
    Al mètode índex de recursos hauría d'haver 
    $tipusAlertants = Tipo_alertant::with('alertants')->get();

    return TipoAlertantResource::collection($tipusAlertants);

    però com que la Mar fa la part de gestió de recursos no ho he posat al push, ja que donaría conflictes
    */
  }
};
</script>
