<template>
<<<<<<< HEAD
  <main>
    <div class="container-fluid">
      <div class="card mt-2" style="background-color: #EADAB6;">
        <div class="card-body">
          <a
            @click="abrirModal('insert')"
            class="btn btn-primary text-white OS-SemiBold"
          >AFEGIR RECURS</a>
        </div>
      </div>

      <div class="card mt-2 OS-SemiBold" style="background-color: #EADAB6;">
        <div class="card-header text-white" style="background-color: #79A6EA;">LLISTA RECURSOS</div>

        <table class="table">
          <thead>
            <tr>
              <th class="OS-SemiBold text-dark text-bold">ID</th>
              <th class="OS-SemiBold text-dark text-bold">CODI</th>
              <th class="OS-SemiBold text-dark text-bold">RECURS</th>
              <th class="OS-SemiBold text-dark text-bold">USUARI</th>
            </tr>
          </thead>
          <tbody v-for="recurs in recursos" :key="recurs.id">
            <tr>
              <td class="Montserrat-Light text-dark text-bold" v-text="recurs.id"></td>
              <td class="Montserrat-Light text-dark text-bold" v-text="recurs.codi"></td>
              <td class="Montserrat-Light text-dark text-bold" v-text="recurs.tipus_recurs.tipus"></td>
              <td class="Montserrat-Light text-dark text-bold" v-text="recurs.usuaris.nom"></td>
              <td>
                <button
                  type="submit"
                  class="btn btn-primary btn-sm"
                  @click="abrirModal('update', recurs)"
                >EDITAR</button>
              </td>
              <td>
                <button
                  type="submit"
                  class="btn btn-danger btn-sm"
                  @click="abrirModal('delete', recurs)"
                >ELIMINAR</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!------------------------- MODAL AFEGIR/EDITAR ------------------------->
    <div
      class="modal fade"
      :class="{ mostrar: modal }"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #79A6EA">
            <h5 class="modal-title" v-text="tituloModal"></h5>
            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="background-color: #EADAB6;">
            <form action method="post" enctype="multipart/form-data" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">codi</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    v-model="recurs.codi"
                    class="form-control"
                    placeholder="codi del recurs"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">Usuari</label>
                <div class="col-md-9">
                  <select ref="id_usuario" class="form-control" v-model="recurs.id_usuario">
                    <option
                      v-for="usuari in usuaris"
                      :key="usuari.id"
                      v-bind:value="usuari.id"
                    >{{ usuari.nom }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label" for="text-input">Recurs</label>
                <div class="col-md-9">
                  <select
                    ref="tipus_recurs_id"
                    class="form-control"
                    v-model="recurs.tipus_recurs_id"
                  >
                    <option
                      v-for="tipoRecurs in tipus_recursos"
                      :key="tipoRecurs.id"
                      v-bind:value="tipoRecurs.id"
                    >{{ tipoRecurs.tipus }}</option>
                  </select>
                </div>
              </div>

              <!-- ERRORES!! -->
              <div v-show="errorRecurs" class="form-group row">
                <div class="offset-3 col-md-9">
                  <p class="text-danger" v-for="error in mensajesError" :key="error" v-text="error"></p>
                </div>
              </div>
            </form>
          </div>

          <!-- BOTONES -->
          <div class="modal-footer" style="background-color: #EADAB6;">
            <button
              type="button"
              class="btn btn-secondary"
              @click="cerrarModal()"
              data-dismiss="modal"
            >Close</button>
            <button
              type="button"
              v-if="tipusAccio == 1"
              class="btn btn-primary"
              @click="insertRecurs()"
            >Guardar</button>
            <button
              type="button"
              v-if="tipusAccio == 2"
              class="btn btn-primary"
              @click="updateRecurs()"
            >Actualitzar</button>
          </div>
        </div>
      </div>
    </div>
    <!------------------------- MODAL BORRAR ------------------------->
    <div
      class="modal fade"
      tabindex="-1"
      :class="{ mostrar: modal_esborrar }"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-white" style="background-color: #79A6EA">
            <h5 class="modal-title" v-text="tituloModal"></h5>
            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="background-color: #EADAB6;">
            <p>Segur que vols eliminar el recurs?</p>
            <div v-show="errorRecurs" class="form-group row">
              <div class="offset-3 col-md-9">
                <p class="text-danger" v-for="error in mensajesError" :key="error" v-text="error"></p>
              </div>
            </div>
          </div>
          <div class="modal-footer" style="background-color: #EADAB6;">
            <button
              type="button"
              class="btn btn-secondary"
              @click="cerrarModal('delete')"
              data-dismiss="modal"
            >Close</button>
            <button type="button" class="btn btn-danger" @click="deleteRecurs()">Eliminar</button>
          </div>
=======
    <main>
        <div class="container-fluid">
            <div
                class="card mt-3 pb-3 border-secondary"
                style="background-color: #FFC4C2;"
            >
                <div
                    class="card-header text-white"
                    style="background-color: #8C031C;"
                >
                    Recursos
                </div>
                <div class="card-body">
                    <div class="card border-secondary">
                        <div
                            class="card-body"
                            style="background-color: #FFC4C2;"
                        >
                            <button
                                type="button"
                                class="btn btn-secondary"
                                @click="abrirModal('insert')"
                                style="background-color: #8C031C;"
                            >
                                Afegir recurs
                            </button>
                        </div>
                    </div>
                    <div class="card-deck" style="background-color: #FFC4C2;">
                        <div
                            class="col-md-3 mt-3"
                            v-for="recurs in recursos"
                            :key="recurs.id"
                        >
                            <div class="card border-secondary">
                                <div class="card-body">
                                    <h5
                                        class="text-bold"
                                        v-text="recurs.tipus_recurs_id"
                                    ></h5>
                                    <h5
                                        class="text-bold"
                                        v-text="recurs.codi"
                                    ></h5>
                                    <h5
                                        class="text-bold"
                                        v-text="recurs.id_usuario"
                                    ></h5>
                                    <!-- <h5
                                        class="text-bold"
                                        v-for="usuari in usuaris"
                                        :key="usuari.id"
                                        v-text="usuari.nom"
                                    ></h5> -->

                                    <div
                                        class="btn-group float-right"
                                        role="group"
                                        aria-label="Basic example"
                                    >
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                            @click="
                                                abrirModal('update', recurs)
                                            "
                                        >
                                            Editar
                                        </button>
                                        <button
                                            type="button"
                                            class="btn btn-sm btn-outline-danger"
                                            @click="
                                                abrirModal('delete', recurs)
                                            "
                                        >
                                            Eliminar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------- MODAL ------------------------->
        <div
            class="modal fade"
            :class="{ mostrar: modal }"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modelTitleId"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-text="tituloModal"></h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                            action
                            method="post"
                            enctype="multipart/form-data"
                            class="form-horizontal"
                        >
                            <div class="form-group row">
                                <label
                                    class="col-md-3 form-control-label"
                                    for="text-input"
                                    >codi</label
                                >
                                <div class="col-md-9">
                                    <input
                                        type="text"
                                        v-model="recurs.codi"
                                        class="form-control"
                                        placeholder="codi del recurs"
                                    />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label
                                    class="col-md-3 form-control-label"
                                    for="text-input"
                                    >tipu Recurs</label
                                >
                                <div class="col-md-9">
                                    <select
                                        type="text"
                                        v-model="recurs.tipus_recurs_id"
                                        class="form-control"
                                        placeholder="codi del recurs"
                                    />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label
                                    class="col-md-3 form-control-label"
                                    for="text-input"
                                    >usuario</label
                                >
                                <div class="col-md-9">
                                    <select
                                        v-model="recurs.id_usuario"
                                        class="form-control"
                                        placeholder="codi del recurs"
                                    />
                                </div>
                            </div>
                            <!-- <select v-for="usuari in usuarios" :key="usuario.id" class="form-control col" name="usuarios[]" id="slcUsuarios"> -->
                            <!-- <option
                                        value="usuari.id"
                                        v-text="usuari.nom"
                                    ></option> -->

                            <!-- ERRORES!! -->
                            <div v-show="errorRecurs" class="form-group row">
                                <div class="offset-3 col-md-9">
                                    <p
                                        class="text-danger"
                                        v-for="error in mensajeError"
                                        :key="error"
                                        v-text="error"
                                    ></p>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- BOTONES -->
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            @click="cerrarModal()"
                        >
                            Close
                        </button>
                        <button
                            type="button"
                            class="btn btn-primary"
                            @click="insertRecurs()"
                        >
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
>>>>>>> master
        </div>
    </main>
</template>

<script>
export default {
<<<<<<< HEAD
  data() {
    return {
      usuaris: null,
      recursos: null,
      tipus_recursos: null,
      tituloModal: null,
      recurs: {
        id: null,
        codi: null,
        tipus_recurs_id: null,
        id_usuario: null
      },
      modal: 0,
      modal_esborrar: 0,
      tituloModal: "",
      tipusAccio: 0,
      errorRecurs: false,
      mensajesError: []
    };
  },
  created() {
    this.mostrarRecursos();
    this.mostrarUsuaris();
    this.mostrarTipoRecursos();
  },
  methods: {
    mostrarRecursos() {
      let me = this;
      axios
        .get("/recursos")
        .then(function(response) {
          me.recursos = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarUsuaris() {
      let me = this;
      axios
        .get("/usuaris")
        .then(function(response) {
          me.usuaris = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    mostrarTipoRecursos() {
      let me = this;
      axios
        .get("/tipo_recurs")
        .then(function(response) {
          me.tipus_recursos = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    abrirModal(accion, data = []) {
      switch (accion) {
        case "insert": {
          this.modal = 1;
          this.tituloModal = "Inserir Recurs";
          this.tipusAccio = 1;

          break;
        }
        case "update": {
          this.modal = 1;
          this.tituloModal = "Modificar recurs";
          this.tipusAccio = 2;
          this.recurs.id = data["id"];
          this.recurs.codi = data["codi"];
          this.recurs.tipus_recurs_id = data["tipus_recurs_id"];
          this.recurs.id_usuario = data["id_usuario"];

          break;
        }
        case "delete": {
          this.modal_esborrar = 1;
          this.tituloModal = "Eliminar recurs";
          this.recurs.id = data["id"];
          this.recurs.codi = data["codi"];
          this.recurs.tipus_recurs_id = data["tipus_recurs_id"];
          this.recurs.id_usuario = data["id_usuario"];

          break;
        }
      }
    },
    cerrarModal(accion = "") {
      switch (accion) {
        case "delete": {
          this.modal_esborrar = 0;
          this.tituloModal = "";
          this.errorRecurs = false;
          this.recurs.id = null;
          this.recurs.codi = null;
          this.recurs.tipus_recurs_id = null;
          this.recurs.id_usuario = null;

          break;
        }
        default: {
          this.modal = 0;
          this.tituloModal = "";
          this.recurs.id = null;
          this.recurs.codi = null;
          this.recurs.tipus_recurs_id = null;
          this.recurs.id_usuario = null;

          break;
        }
      }
      this.errorRecurs = false;
      this.mensajesError = [];
    },
    insertRecurs() {
      let me = this;
      axios
        .post("/recursos", this.recurs)
        .then(function(response) {
          me.cerrarModal();
          me.mostrarRecursos();
        })
        .catch(function(error) {
          me.errorRecurs = true;
          me.missatge = error.response.data;
          me.errorRecurs = true;
          me.mensajsError.push(me.missatge.error);
        });
    },
    updateRecurs() {
      let me = this;
      axios
        .put("/recursos/" + this.recurs.id, this.recurs)
        .then(function(response) {
          me.cerrarModal();
          me.mostrarRecursos();
        })
        .catch(function(error) {
          me.missatge = error.response.data;
          me.errorRecurs = true;
          me.mensajesError.push(me.missatge.error);
        });
    },
    deleteRecurs() {
      let me = this;
      axios
        .delete("/recursos/" + this.recurs.id)
        .then(function(response) {
          me.cerrarModal("delete");
          me.mostrarRecursos();
        })
        .catch(function(error) {
          me.missatge = error.response.data;
          me.errorRecurs = true;
          me.mensajesError.push(me.missatge.error);
        });
    }
  },

  mounted() {
    console.log("Component mounted.");
  }
=======
    data() {
        return {
            usuaris: [],
            tipo_recursos: [],
            recursos: null,
            tituloModal: "",
            recurs: {
                id: null,
                codi: "",
                tipus_recurs_id: null,
                id_usuari: null
            },
            modal: 0,
            errorRecurs: false,
            mensajeError: []
        };
    },
    created() {
        this.mostrarRecursos();
        // this.mostrarUsuaris();
        // this.mostrarTipo_recurs();
    },
    methods: {
        mostrarRecursos() {
            let me = this;
            axios
                .get("/recursos")
                .then(function(response) {
                    me.recursos = response.data;
                })
                .catch(function(error) {
                    console.log(error);
                });
        },
        mostrarUsuaris() {
            let me = this;
            axios
                .get("/usuaris")
                .then(function(response) {
                    me.usuaris = usuaris.data;
                })
                .catch(function(error) {
                    console.log(error);
                });
        },
        mostrarTipo_recurs() {
            let me = this;
            axios
                .get("/tipo_recurs")
                .then(function(response) {
                    me.tipo_recursos = tipo_recursos.data;
                })
                .catch(function(error) {
                    console.log(error);
                });
        },
        abrirModal() {
            this.modal = 1;
            this.tituloModal = "Insertar recurs";
        },
        cerrarModal() {
            this.modal = 0;
            this.tituloModal = "";
            this.errorRecurs = false;
        },
        insertRecurs() {
            let me = this;
            axios
                .post("/recursos", this.recurs)
                .then(function(response) {
                    me.cerrarModal();
                    me.mostrarRecursos();
                })
                .catch(function(error) {
                    me.missatge = error.response.data;
                    me.errorRecurs = true;
                    me.mensajeError.push(me.missatge.error);
                });
        },
        updateRecurs() {
            let me = this;
            axios
                .put("/recursos/" + this.recurs.id, this.recurs)
                .then(function(response) {
                    me.cerrarModal();
                    me.mostrarRecursos();
                })
                .catch(function(error) {
                    me.missatge = error.response.data;
                    me.errorRecurs = true;
                    me.mensajeError.push(me.missatge.error);
                });
        }
    }
>>>>>>> master
};
</script>

<style>
.modal-title {
<<<<<<< HEAD
  font-variant: small-caps;
}
.modal-content {
  width: 100% !important;
  position: absolute !important;
  top: 200px !important;
}
.mostrar {
  display: list-item !important;
  opacity: 1 !important;
  position: absolute !important;
  background-color: #3c29297a !important;
=======
    font-variant: small-caps;
}
.modal-content {
    width: 100% !important;
    position: absolute !important;
    top: 200px !important;
}
.mostrar {
    display: list-item !important;
    opacity: 1 !important;
    position: absolute !important;
    background-color: #3c29297a !important;
>>>>>>> master
}
</style>
